<!doctype html>
<html lang="en" ng-app="app">
  <head>
    <title>InfoUtil2.0</title>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">


    <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">  
    <link rel="stylesheet" href="styles/app.css"/>

    <script src="lib/onsen/js/angular/angular.min.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>
    
    <script src="cordova.js"></script>  
    <script src="js/app.js"></script> 
    <script>        
        //ons.bootstrap();    

    </script>
  </head>
  <body ng-controller="loginController">
   <ons-navigator title="Navigator" var="Navigator">
        <ons-page>
          <ons-toolbar>
            <div class="center">Inicie Sesión</div>
            <!--<div class="right"><ons-toolbar-button>Close</ons-toolbar-button></div>-->
          </ons-toolbar>

          <div class="profile-card">
            <img src="images/logo.png" class="profile-image">
            <div class="profile-name">InfoUtil 2.0</div>
          </div>

          <div class="login-form">
            <ons-row>
                <ons-col width="50%">
                    <button class="button button--large toolbar-button--outline" ng-click="twitterLogin()">
                      <i class="fa fa-twitter" style="font-size:20px"></i>     Twitter
                    </button>
                </ons-col>
                <ons-col width="50%">
                    <button class="button button--large toolbar-button--outline" ng-click="facebookLogin()">
                      <i class="fa fa-facebook" style="font-size:20px"></i>     Facebook
                    </button>
                </ons-col>
            </ons-row>
            <br><br>
          </div>
        </ons-page>
        
        <ons-template id="page1.html">
          <ons-page>
            <ons-toolbar>
              <div class="left"><ons-back-button>Back</ons-back-button></div>
              <div class="center">Page 2</div>
            </ons-toolbar>

            <div style="text-align: center">
              <br />
              <ons-button modifier="light" onclick="Navigator.popPage()">
                Pop Page
              </ons-button>
            </div>
          </ons-page>
        </ons-template>
    </ons-navigator>

  </body>
</html>

